body {
    margin: 0;
    background-color: bisque;
}

#start-btn {
    background-color: rgb(204, 96, 20);
    color: white;
    padding: 10px;
    font-size: 30px;
    margin-top: 40px;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    font-weight: 200;
    border: none;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#game-box {
    background-color: lightseagreen;
    width: 600px;
    height: 400px;


}